@import "tailwindcss";
@import "@nuxt/ui";

/* these are necessary styles for vue flow */
@import '@vue-flow/core/dist/style.css';

/* this contains the default theme, these are optional styles */
@import '@vue-flow/core/dist/theme-default.css';

/* General pre code styles. */
.shiki,
.shiki span {
  @apply !text-lg;
}

/* Triggered only in the dark theme. */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Disable scrollbars */
}

.upg {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100vh;
  width: 100vw;
}

.upg-left {
  @apply flex flex-col;
  height: 100%;
}

.upg-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.upg-panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.upg-panel-1 {
  flex-shrink: 0;
  max-height: 70%;
}

.upg-panel-header {
  @apply my-2 mr-2 flex items-center justify-between;
}

.upg-panel-content {
  @apply border border-gray-300;
  overflow: auto;
}

.top-menu {
  @apply flex items-center justify-between;
}

/* def color */
.def-mod {
  @apply text-sky-600 dark:text-sky-400
}

.def-fn {
  @apply text-teal-600 dark:text-teal-400
}

.def-struct {
  @apply text-amber-600 dark:text-amber-400
}

.def-enum {
  @apply text-rose-600 dark:text-rose-400
}

.def-union {
  @apply text-indigo-600 dark:text-indigo-400
}

.def-trait {
  @apply text-orange-600 dark:text-orange-400
}

.def-ty {
  @apply text-pink-600 dark:text-pink-400
}
